<html>
  <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv= "Pragma" content= "no-cache"/>
    <meta http-equiv= "Cache-Control" content= "no-cache"/>
    <meta http-equiv= "Expires" content= "0" />
    <link rel="icon" type="image/png" href="/images/icons/icon.png"/>
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png"/>
    <link rel="stylesheet" type="text/css" href="/css/libs/font-awesome/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/css/libs/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/libs/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/common/common.css"/>
    {{{block "stylesheets"}}}
    <script type="text/javascript" src="/js/libs/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/js/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/libs/jquery.appear.js"></script>
    <script type="text/javascript" src="/js/libs/weather/jquery.leoweather.min.js"></script>
    <!--[if IE]>
      <script src="/js/libs/html5shiv.min.js"></script>
    <![endif]-->
    {{{block "libs"}}}
  </head>
  <body>
    <div id="pgcontainer">
      <div class="backCloth hide"></div>
      {{> header}}
      {{{body}}}
      {{> footer}}
    </div>
    <script type="text/javascript" src="/js/base/base.js"></script>
    {{{block "scripts"}}}
  </body>
</html>
